@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;1,400&display=swap');


body {
    margin: 0;
    padding: 0;
    color: #2b2b2b;
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.wrapper {
    display: flex;
}

.shopping-cart {
    width: 30%;
    padding: 1.4em;
    background-color: #f9f9f9;
    border-left:1px solid #e0dede;
}

.items {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #d2d2d2;
}

.thum-wrap {
    display: flex;
    justify-content:space-evenly;
    align-items: baseline;
}

.add {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.remove {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.removeAll {
    width: auto;
    margin-right: 7px;
}

.thumbnail {
    max-width: 60px;
}

main {
    width: 70%;
    padding: 5em;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 150px;
    background-color: rgb(46, 46, 46);
    min-height: 40px;
    color: #ffffff;
}

.cart-counter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 9px;
    padding: 3px 5px;
    background-color: #ffffff;
    font-size: 0.8em;
    color: #1b1b1b;
}

nav {
    background-color: #ffffff;
    border-bottom: 1px solid #d2d2d2;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 2em;
    text-transform: uppercase;
}

nav a {
    color: #2b2b2b;
    text-decoration: none;
}

nav a:visited{
    color: #2b2b2b;
}

footer {
    height: 300px;
    padding: 3em;
    background-color: #767676;
    color: #ffffff;
    text-align: center;
}


footer ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    margin: 3em;
    text-transform: uppercase;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:visited{
    color: inherit;
}



/* Typography */

h1 {
    margin: 0;
}

p {
    line-height: 0.3em;
}

/* Components*/

.brand {
    display: inline;
}

.tee-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2em;
}

.tee-card {
    margin: 2em;
}

.tee img {
    width: 200px;
}

button {
    background-color: rgb(0, 153, 255);
    color: #ffffff;
    border: 1px solid #f4f4f4;
    padding: 0.4em;
    cursor: pointer;
}